.reg-select{font-weight:bolder;font-style:italic;}
.image {
  opacity: 1;
  display: block;
  width:100%;
  max-width:400px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin:0.5em auto;
}