.what-select{font-weight:bolder;font-style:italic;}
.sightseeing-sustenance{text-decoration:none;background-color:#5cdede;padding:0.5em;border:2px solid black;}
.center {
  margin: auto;
  width: 50%;
  border: none;
  padding: 10px;
}
