<footer>
<div>Hannah &amp; Ben</div>
<!--Navbar for footer -->
  <nav class='footernavlinks'>
  	  <a class='rsvp-select' href='{{outdirs}}/rsvp'>RSVP</a>
  	  <a class='wedding-select' href='{{outdirs}}/wedding'>Wedding</a>
  	  <a class='where-select' href='{{outdirs}}/lodging-and-travel'>Lodging &amp; Travel</a>
	  <a class='what-select' href='{{outdirs}}/sightseeing'>Sightseeing</a>
	  <a class='reg-select' href='{{outdirs}}/registry'>Registry</a>
	  <a class='cute-select' href='{{outdirs}}/cute-stuff'>Cute Stuff</a>	  
  </nav>
</footer>