<head>
    <meta charset='utf-8'>
    <title>{{title}} | It's A Wedding</title>
	<!--<title>It's A Wedding</title>-->
	<meta name='keywords' content='wedding'/>
	<link rel='icon' href='{{outdirs}}/images/favicon/favicon.png'>
	<link rel='canonical' href='https://www.itsawedding.fyi/'>
	<meta id='viewport' name='viewport' content='width=device-width, initial-scale=1'/>
	<!-- STYLES -->
	<link rel='stylesheet' type='text/css' href='{{outdirs}}/css/general_style.css'/>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montaga'/>
	<link rel='stylesheet' type='text/css' href='{{outdirs}}/css/font-awesome.min.css'/>
	<!-- page-specific stylesheets -->
	<link rel='stylesheet' type='text/css' href='{{outdirs}}/css/{{title}}.css'/>
	<!-- Global site tag (gtag.js) - Google Analytics
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-99307928-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-99307928-2');
	</script> -->
	<!-- SCRIPTS -->
	<script type='text/javascript' src='{{outdirs}}/../js/jquery-3.1.1.min.js'></script>
	<script type='text/javascript' src='{{outdirs}}/../js/jquery.touchwipe.min.js'></script>
	<script type='text/javascript' src='{{outdirs}}/../js/general_fxns.js'></script>
	<!-- page-specific scripts -->
	<script type='text/javascript' src='{{outdirs}}/js/{{title}}.js'></script>
</head>

	<!--////////////////////////////////////////////////////////////////// -->