<header>
  <div class='navbar-bars' style='display:none;' onclick='togglemenu();'><i class='fa fa-bars fa-2x'></i> <span></span></div>
  <div class='name'><a href='/'>It's A Wedding!</a></div>

<!--Navbar for big screens -->
  <nav class='bignavlinks'>
  	  <a class='rsvp-select' href='{{outdirs}}/rsvp'>RSVP</a>
  	  <a class='wedding-select' href='{{outdirs}}/wedding'>Wedding</a>
  	  <a class='where-select' href='{{outdirs}}/lodging-and-travel'>Lodging &amp; Travel</a>
	  <a class='what-select' href='{{outdirs}}/activities'>Activities</a>
	  <a class='cute-select' href='{{outdirs}}/cute-shit'>Cute shit</a>	  
  </nav>
  
<!-- Alt navbar (slide down from bars, for small screens) -->
	<nav class='smallnavlinks' style='display:none;'>
	<ul>
	  <a class='rsvp-select' href='{{outdirs}}/rsvp'><li>RSVP</li></a>
  	  <a class='wedding-select' href='{{outdirs}}/wedding'><li>Wedding</li></a>
  	  <a class='where-select' href='{{outdirs}}/lodging-and-travel'><li>Lodging &amp; Travel</li></a>
	  <a class='what-select' href='{{outdirs}}/whattodo'><li>Activities</li></a>
	  <a class='cute-select' href='{{outdirs}}/cute-shit'><li>Cute shit</li></a>	  
	</ul>
	</nav>
</header>
<!-- Overlay effect when opening topnav on small screens -->
<div class='overlay' onclick='togglemenu();' title='close menu' id='overlaybkgrnd'></div>