.rsvp {
	float: center;
}

/* Style the search box inside the navigation bar */
.search-container {
  float: center;
}

.rsvp input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.rsvp button {
  float: center;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.rsvp button:hover {
  background: #ccc;
}

.rsvp-form input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

#respondent {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	background: none;
}



/*
@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  .search-container input[type=text], .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}*/