.what-select{font-weight:bolder;font-style:italic;}
.sightseeing-sustenance{text-decoration:none;background-color:#5cdede;padding:0.5em;border:2px solid black;}
.center {
  margin: auto;
  width: 50%;
  border: none;
  padding: 10px;
}

.photobook{width:650px;max-width:100%;margin:1.5em auto 1.5em auto;text-align:center;}
.photobook div{width:270px;max-width:90%;margin:0.2em;position:relative;text-align:center;display:inline-block;}
.photobook img{
	width:270px;max-width:100%;
	cursor:pointer;margin:0;
	display:inline-block;
	background-position: center;margin:0.2em;
	-webkit-transition:opacity 0.3s;
	transition:opacity 0.3s;cursor:pointer;
}

.vt{background-size:270px auto;}
.photobook div div{
	margin:0;position:absolute;
	display:inline-block;
	pointer-events:none;
	position:absolute;
}
.overlaid{
	top: 50%;
	left: 50%;
	color:black;
	transform: translate(-50%, -50%);
	font-size:1.2em;font-weight:bold;
	opacity:0;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

