.wrapper{
  margin:auto;
}
footer{position:absolute;bottom:0;}

/* Style the search box inside the navigation bar */
.broken{font-size:0.7em;font-style:italic;}
.broken a {color:#004242;}
.highlight, .highlight a {color:red;font-size:1em;}
.search-container input {
  width:150px;max-width:80%;
  display:inline-block;margin:auto;
}
.rsvp input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
#findnames{
  background: #ddd;
  border: none;
  cursor: pointer;
  float: center;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
#findnames:hover {
  background: #ccc;
}
#result{padding-top:1.5em;}
#respondents{font-size:1.2em;font-weight:bold;}
#confirm-buttons{display:none;}
#confirm-buttons button{
  font-family:Montaga, serif;
  font-size:0.9em;padding:0.2em 0.5em;
  margin:0.7em;
  background-color:#5cdede;
  border:2px solid black;
  cursor:pointer;
}